.pf-x-c-brand--main {
  max-width: 12.5rem;
}

.pf-x-c-brand--nav {
  height: 50px;
}

.pf-x-ws-router {
  height: 100vh;
}

.pf-x-u-resize-none {
  resize: none;
}

/* A nested dialog */
.pf-x-m-modal-overlay {
  z-index: calc(var(--pf-global--ZIndex--lg) + 1);
}

/* Backdrop which doesn't overlap */
.pf-x-c-backdrop--nested {
  padding-top: var(
    --pf-c-page__header--MinHeight
  ); /* TODO: This does depend on the navbar being no higher than the min value; in the future, object queries might be used. */
}

.pf-x-m-gap-md {
  gap: var(--pf-global--spacer--md);
}

/* Prevent unnecessary vertical scrolling in variable height text editors */
.pf-x-m-overflow-y-hidden {
  overflow-y: hidden;
}
