.pf-x-c-brand--main {
  max-width: 12.5rem;
}

.pf-x-c-brand--nav {
  height: 50px;
}

.pf-x-ws-router {
  height: 100vh;
}

.pf-x-u-resize-none {
  resize: none;
}

/* A nested dialog */
.pf-x-m-modal-overlay {
  z-index: calc(var(--pf-global--ZIndex--lg) + 1);
}

/* Show the header behind modals */
.pf-x-c-page__header--behind-modals {
  z-index: calc(var(--pf-global--ZIndex--md) - 200);
}

.pf-x-m-gap-md {
  gap: var(--pf-global--spacer--md);
}
